.row{
    background: linear-gradient(to right, rgb(66, 78, 255), rgb(95, 154, 255))
}

div{
    background-color:nule;
    size: 10px;
}

app-social{
    
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

#logo, #social{
    display: inline;
}

