<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        
         <div class="col-sm-12 col-md-3 col-lg-3 offset-1" id="imagen1">
            <img src="../../../assets/colocarImagen3.webp" class="img-fluid img-proyecto">
        </div>
        
        <div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1" id="proyecto1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, ipsa quae dolore nam recusandae rem consectetur nobis amet architecto asperiores ab cum corporis error voluptates voluptatem dignissimos vel eligendi magnam!</p>
        </div>
       
    </div>

    <div class="container">
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-1" id="imagen2">
           <img src="../../../assets/colocarImagen3.webp" class="img-fluid img-proyecto">
       </div>
       
       <div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1" id="proyecto2">
           <h1>Proyecto 2</h1>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, ipsa quae dolore nam recusandae rem consectetur nobis amet architecto asperiores ab cum corporis error voluptates voluptatem dignissimos vel eligendi magnam!</p>
       </div>
       </div>

       <div class="container">
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-1" id="imagen3">
           <img src="../../../assets/colocarImagen3.webp" class="img-fluid img-proyecto">
       </div>
       
       <div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1" id="proyecto3">
           <h1>Proyecto 3</h1>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, ipsa quae dolore nam recusandae rem consectetur nobis amet architecto asperiores ab cum corporis error voluptates voluptatem dignissimos vel eligendi magnam!</p>
       </div>
      
      
   </div>






</div>