<div class="row"  *ngIf="persona">
  
  <div class="col-lg-5"></div>

  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged" id="agregar">
        Editar persona
    </button>
  </div >

  <div class="col-lg-5"></div>
    

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Screenshot_20230331_100530_Photos.jpg" class="img-fluid" id="fotoDePerfil">
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
    <h5 id="titulo">Full Stack Developer Jr</h5>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <span>
        <h1 id="acerca">Acerca de mí</h1>
        <p>{{persona.descripcion}}</p>
    </span>
  </div>
</div>