.row{
    padding: 50px;
    background: linear-gradient(to right, rgb(66, 78, 255), rgb(95, 154, 255))
}
div{
    background-color: nule;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 0px;
    margin-left: -20px;
}

#titulo{
    font-weight:600;
    margin-top: 5%;
    margin-left: -10px;
}

#acerca{
    margin-top: -10px;
}

@media(min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 14%;
        border-radius: 45%;
        box-shadow: 5px 5px 15px black;
        left: 2%;
        top: 615px;
    }
}
@media(max-width: 575px){
    #fotoDePerfil{
        width: 35%;
        border-radius: 45%;
        box-shadow: 5px 5px 5px  black;
        left: 30%;
        margin-bottom: 15px;
    }

    #titulo{
        margin-bottom: 30px;
    }
}

#agregar{
    margin-top: -20px ;
    margin-bottom: 20px;
}
