.row{
    padding: 50px;
}
div{
    background-color: #8ca7c4;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 0px;
    margin-left: -20px;
}

#titulo{
    font-weight:600;
    margin-top: 5%;
    margin-left: -10px;
}

#acerca{
    margin-top: -10px;
}

@media(min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 14%;
        border-radius: 45%;
        box-shadow: 5px 5px 5px grey;
        left: 2%;
        top: 615px;
    }
}
@media(max-width: 575px){
    #fotoDePerfil{
        width: 35%;
        border-radius: 45%;
        box-shadow: 5px 5px 5px  gray;
        left: 30%;
    }
}