<div>

    <a href="https://www.linkedin.com/in/nahuel-gallardo-6190a8271?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BURYMsCpDSjeYfs6i5ok0ig%3D%3D" target="_blank"><img src="../../../assets/Linkedin.png" id="linkedin"></a>

    <a href="https://twitter.com/GallardoNahuelA" target="_blank"><img src="../../../assets/Twitter.png" id="twitter"></a>

    <a href="https://www.facebook.com/profile.php?id=100091200475150" target="_blank"><img src="../../../assets/Facebook.png" id="facebook"></a>

    <a href="https://www.instagram.com/nahuelanibalgallardo/" target="_blank"><img src="../../../assets/Instagram.png" id="instagram"></a>

    <a href="mailto:nahuelanibalgallardo@gmail.com"><img src="../../../assets/gmail.ico" id="gmail"></a>

    <a href="https://github.com/GallardoN" target="_blank"><img src="../../../assets/GitHub.png" id="github"></a>

    <a type="button" class="btn btn-outline-light" href="/login" id="ingresar"><h5>INGRESAR</h5></a>

</div>
