.row{
    background-color: #8ca7c4;
    ;
}

#HSS{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-left: 1px;
    background-image: url("../../../assets/fondoCircles.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center left top;
}

#tituloHSS{
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

h2{
    color: white;
}


#circlehtml, #circleGit, #circleJS{
    display: inline;
} 

#circleCSS, #circleEquipo, #circleIngles{
    display: inline;
    margin-top: 10px;
    margin-bottom: 40px;
}

