<div class="row">
    <div class="row" id="HSS">

        <h1 class="text-center" id="tituloHSS">Hard & Soft Skills</h1>

        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged" id="agregar">
                Nueva Skill
            </button>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-ig-4" id="circle" *ngFor="let skill of skill">
            <circle-progress 
            [percent]="(skill.porcentaje)" 
            [showUnits]="true" 
            [imageSrc]="''" 
            [title]="(skill.nombre)"
            [titleColor]="'#212F3C'"
            [showTitle]="true" 
            [showImage]="false"
            [imageHeight]="100" 
            [imageWidth]="100" 
            [radius]="100" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'darkred'" 
            [innerStrokeColor]="'black'" 
            [animation]="true"
            [animationDuration]="600">
            </circle-progress>

            <div>
                <td *ngIf="isLogged" id="editar">
                <button class="btn btn-warning" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </td>

            <td *ngIf="isLogged" id="borrar">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash3-fill"></i></button>
            </td>
            </div>
            

        </div>

    </div>
</div>