<div class="row">
    <h1 id="educacion">Educación</h1>
    <div class="col-lg-11"  id="estudios">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
    </div>
</div>