<div class="row">
    <h1 id="experiencia">Experiencia laboral</h1>
    <div class="col-11"  id="trabajos">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus inventore voluptas reprehenderit in qui numquam nobis vero eius maxime necessitatibus, quaerat voluptatem itaque commodi debitis exercitationem assumenda dolores doloremque?
            </p>
        </ul>
    </div>
</div>