.row{
    padding: 20px;
    background: linear-gradient(to right, rgb(66, 78, 255), rgb(95, 154, 255));
}

div{
    background: nule;
}

h1, h3{
    display: inline;
}

#trabajos{
    margin-left: 60px;
}

#experiencia{
    text-decoration: underline rgb(1, 1, 100);
}

button{
    box-shadow: 3px 3px 5px black;
}

#agregar{
    margin-bottom: 10px;
}

table{
    background-color:rgb(1, 96, 185);
    border-collapse: collapse;
    border: solid black 3px;
}

#nombre{
    border-collapse: collapse;
    border: solid black 3px;
    height: auto;
    width: 330px;
}


#descripcion{
    border-collapse: collapse;
    border: solid black 3px;
    border-right: none;
    height: auto;
}

#editar, #borrar{
    border-bottom: solid black 3px;
    width: 20px;

}

