<div class="row">
    <h1 id="experiencia">Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged" id="agregar">
            Nueva experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td id="nombre">
                        <h3>{{Experiencia.nombreE}}</h3>
                    </td>

                    <td id="descripcion">
                        <h6>{{Experiencia.descripcionE}}</h6>
                    </td>
                    
                    <td *ngIf="isLogged" id="editar">
                        <button class="btn btn-warning" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>

                    <td *ngIf="isLogged" id="borrar">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>