<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Screenshot_20230331_100530_Photos.jpg" class="img-fluid" id="fotoDePerfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">Gallardo Nahuel Anibal</h4>
    <h5 id="titulo">Full Stack Developer Jr</h5>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>
            Programador y técnico electromecánico con algo de experiencia en fábricas metalúrguicas, actualmente me encuentro cursando la carrera de ing. industrial en la Universidad Nacional de La Matanza.
        </p>
    </span>
  </div>
</div>